{{!-- {{yield}} --}}
<div class="modal-header">
  <h4 class="modal-title">ALERT</h4>
</div>
<div class="modal-body">
  <div>Attention User:</div>
  <div>This is an alert</div>
  <button class="btn btn-info">Submit</button>
</div>