@import 'https://fonts.googleapis.com/css?family=Dosis:200';

body {
  font-family: 'Dosis', sans-serif;
  font-size: 180%;
}

.lf-dialog {
  padding: 0;
  width: 20%;
  min-width: 10em;
}

.modal-title {
  margin: 0;
}

.modal-header {
  background: #222;
  color: #FFF;
  width: 100%;
}

.modal-title, .modal-body {
  padding: 1em;
}

.modal-body {
  text-align: center;
}

.lf-dialog button {
  border-radius: 2px;
  background: #DDD;
  border: 1px solid #222;
  font-size: 100%;
  margin: 0.75em auto;
}
